@tailwind base;
@tailwind components;
@tailwind utilities;

body{font-family: "sans-serif",serif;}
.bgImage{
    background-image: url('/public/bg-image.jpeg');
    background-size: contain;
    background-repeat: no-repeat;
}